/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-headings: "Signika", Arial, sans-serif;
$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 150%;
$line-height-base: 1.5;


/**
 * Colors
 */

$brand-primary:         #458ECF !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;



/**
 * Text colors
 */

$heading-color: #444;
$heading-h1-color: $brand-primary;
$text-color: #555555;
$text-light-color: $gray;
$body-bg: #fff;
$selection-bg: #C3D3EE;
$inverted-color: $brand-primary;


/**
 * Navbar
 */

$should-navbar-position-top: false;

$navbar-background-color: white;
$navbar-main-link-color: $text-color;

/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;


$mobile_breakpoint: 768px;
